<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>676813785956-jjhou9u5evpijcvk8du246t00miohopa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676813785956-jjhou9u5evpijcvk8du246t00miohopa</string>
	<key>API_KEY</key>
	<string>AIzaSyDQjR28vauP3_C7lSB44-gpmXIHJwTLUeM</string>
	<key>GCM_SENDER_ID</key>
	<string>676813785956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caohr.TimeManager</string>
	<key>PROJECT_ID</key>
	<string>timemanager-84a68</string>
	<key>STORAGE_BUCKET</key>
	<string>timemanager-84a68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676813785956:ios:f25b133d39026a50</string>
	<key>DATABASE_URL</key>
	<string>https://timemanager-84a68.firebaseio.com</string>
</dict>
</plist>